body {
    text-align: center;
}

header {
    text-align: center !important;
    font-weight: bold;
    font-size: x-large;
    position: fixed;


}

ul {
    list-style: none;
    padding: 0;

}

li {
    padding-top: 30px;
}

p {
    margin-top: 5px;
}